// Logo SignIn
$logoPath: '../images/';
$logoSignInWidth: 170px;
$logoSignInSpace: 6% auto 5% auto;

// Logo SignUp
$logoSignUpWidth: 170px;
$logoSignUpSpace: 4% auto 2% auto;

//Background Color
$gradiant: 17, 19, 68, 0.8;

//Typography
$titleColor: white;
$titleFontSize: 50px;
$titleFontFamily: 'Lato', sans-serif;

//Form
$formText: white;
$inputBackground: transparent;

// Member Page
$layerColor: rgba(132, 133, 172, 0.8);
$navBackgroundColor: #FF2D56;
$navBarLink: #fff;
$headerNavLink: #FEB1C0;

