.navbarSection {
    background-color: $navBackgroundColor;
    display: flex;
    height: 5em;
    min-width: 100%;
    justify-content: space-between;
    ul {
        flex: 1;
        text-align: center;
        li {
            display: inline-block;
            font-size: 20px;
            padding: 0 30px 0 30px;
            margin: 2%;
            position: relative;
            a {
                color: $navBarLink;
            }
        }
    }
}

// a:hover:after {
//   border-left: solid transparent 10px;
//   border-right: solid transparent 10px;
//   border-top: solid #FF2D56 25px;
//   border-radius: 50%;
//   bottom: -65px;
//   content: " ";
//   height: 0;
//   left: 50%;
//   margin-left: -13px;
//   position: absolute;
//   width: 20px;
// }
