#signIn {
  background-color: #FF2D56;
  border: none;
  border-radius: 10px;
  width: 70%;
  height: 40px;
  margin-bottom: 20px;
  color: white;
}

#createAccount {
  color: white;
  padding: 50px;
}
