<<<<<<< HEAD

/*.navbar {*/
    /*background-color: lightcoral;*/
/*}*/


/*#textlogo {*/
    /*padding:0.5em;*/
    /*color: black;*/
    /*font-weight: bold;*/
    /*font-size: large;*/
/*}*/

/*.input-group {*/
    /*margin-top: 50px;*/
    /*margin-left: 30px;*/
 /*}*/

/*#go {*/
    /*margin-top: 50px;*/

/*}*/

/*#categories {*/
    /*padding-left: 2em;*/
    /*background-color: lightcoral;*/
/*}*/

/*.post-container {*/
    /*margin-top: 50px;*/
/*}*/

/*.top-30 {*/
    /*margin-top: 30px;*/
/*}*/

/*#logoutBtn {*/
    /*margin-left: 20px;*/
/*}*/

/*.post-img {*/
    /*width: 300px;*/
/*}*/

/*p {*/
    /*width: 300px;*/
/*}*/

/*.postings {*/
    /*display: inline-block;*/
    /*background-color: ghostwhite;*/
    /*padding: .5%;*/
    /*margin: 1%;*/
    /*text-align: left;*/
/*}*/
=======
.navBar {
    position: relative;
}

.navHeader {
    background-color: #849AAC;
}

.logo {
    color: black;
    margin-top: 10px;
    position: relative;
    top: 10px;
    font-size: 30px;
    padding-right: 50px;
    padding-left: 50px;
    width: 200px;
}

.searchRight {
    margin-left: -32px;
}

.input-group input {
     background-color: hsla(0, 0%, 100%, .2);
     
}

 .input-group {
     position: relative;
     top: 10px;
     
}

 #textlogo {
     padding: 0.5em;
     color: black;
     font-weight: bold;
     font-size: large;
     
}

 .input-group {
     margin-top: 50px;
     margin-left: 30px;
     
}

 #go {
     margin-top: 50px;
     
}

 #categories {
     padding-left: 2em;
     background-color: lightcoral;
     
}

 .post-container {
     margin-top: 50px;
     
}

 .top-30 {
     margin-top: 30px;
     
}

 #logoutBtn {
     margin-left: 20px;
     
}


>>>>>>> 830fe95a2571caa5a9170dcba9f7367c1ccd62ac
